<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit person</title>
</head>
<body>
<form th:method="PATCH" th:action="@{/people/{id}(id=${person.getPerson_id()})}" th:object="${person}">
    <div>
        <label for="full_name">Enter client's full name</label>
        <input id="full_name" name="fio" type="text" th:field="*{full_name}">
    </div>
    <br>
    <div>
        <label for="year_of_birthday">Enter</label>
        <input id="year_of_birthday" name="year_of_birthday" type="text" th:field="*{year_of_birth}">
    </div>
    <br>
    <input type="submit" value="Create!">
</form>

<form th:method="DELETE" th:action="@{/people/{id}(id=${person.getPerson_id()})}">
    <input type="submit" value="Delete">
</form>
</body>
</html>