<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book</title>
</head>
<body>

<p th:text="${book.getName()} + ', ' + ${book.getAuthorFullName()} + ', ' + ${book.getYearOfPub()}">VALUE</p>
<div th:if="${personWhoTake != null}">
    <p th:text="${personWhoTake.getFullName()} + ' has this book now'">text</p>
    <form th:method="GET" th:action="@{/books/{id}/free(id=${book.getBookID()})}">
        <input type="submit" value="Free book">
    </form>
</div>
<div th:if="${personWhoTake == null}">
    <p>This book is free</p>
</div>
<hr>
<div>
    <a href="/books">Back</a> or <a th:href="@{/books/{id}/edit(id=${book.getBookID()})}">Edit</a>
</div>
<br>
<form th:method="DELETE" th:action="@{/books/{id}(id=${book.getBookID()})}">
    <input type="submit" value="Delete!">
</form>
</body>
</html>